.grid{
    border: 1px solid black;
}

.container{
    border: 1px solid black;
    height: 75vh;
    width: 75vh;
    margin: 0 auto;
    margin-top: 2vh;
    display: flex;
    background: rgb(134, 134, 134);
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}